[submodule "basic-android-kotlin-compose-training-unscramble"]
	path = basic-android-kotlin-compose-training-unscramble
	url = https://github.com/google-developer-training/basic-android-kotlin-compose-training-unscramble.git
